<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Vue for Beginner</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
  <h1>Hello Vue</h1>
  <!-- <div id="app">
    <p>{{ title }} - {{ author }} - {{ age }}</p>


    <button v-on:click="age++">Increase Age</button>
    <button v-on:click="age--">Decrease Age</button>

    <div @click="changeTitle('Oathbringer')">Change book title</div>
  </div> -->

  <!-- v-if  -->
  
  <!-- <div id="app2">
    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
    </div>

    
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-if="!showBooks">Show Books</span>
      </button>
      
    

    <div v-show="showBooks">Currently showing Books</div>

  </div> -->

  <!-- v-if fin  -->

  <!-- Mouse event -->

  <!-- <div id="app3">
    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
    </div>

    
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-if="!showBooks">Show Books</span>
      </button>
      
    
<br>
<!-- @mouseover -->
<!-- <div class="box" v-on:mouseover="handleEvent($event,5)">mouseover</div>
<div class="box" @mouseleave="handleEvent">mouseleave</div>
<div class="box"@dblclick="handleEvent">double click</div>
<div class="box" @mousemove="handleMousemove">position x:{{x}} - position y:{{y}}</div>
    

  </div> -->
  <!-- Mouse event  FIN -->


  <!--  V-FOR  -->
<!-- <div id="app4">
  <div v-if="showBooks">
   <ul>
     <li v-for="book in books">
           <h3>{{book.title}}</h3>
           <p>{{book.author}}</p>
     </li>
   </ul>
  </div>


  <button @click="toggleShowBooks">
    <span v-if="showBooks">Hide Books</span>
    <span v-if="!showBooks">Show Books</span>
  </button>

</div> -->
<!--  V-FOR  FIN -->



<!-- Attribut BINDING -->

<!-- <div id="app5">
  <a :href="url">best website ever</a>
  <div v-if="showBooks">
   <ul>
     <li v-for="book in books">
       <img :src="book.img" :alt="book.title">
           <h3>{{book.title}}</h3>
           <p>{{book.author}}</p>
     </li>
   </ul>
  </div>


  <button @click="toggleShowBooks">
    <span v-if="showBooks">Hide Books</span>
    <span v-if="!showBooks">Show Books</span>
  </button>

</div> -->
 

<!-- Attribut BINDING  FIN -->


<!-- CLASS DYNAMIQUE: CSS AJOUT DE CLASSE -->

<div id="app6">
  <a :href="url">best website ever</a>
  <div v-if="showBooks">
   <ul>
     <li v-for="book in books" :class="{fav: book.isFav}">
       <img :src="book.img" :alt="book.title">
           <h3>{{book.title}}</h3>
           <p>{{book.author}}</p>
     </li>
   </ul>
  </div>


  <button @click="toggleShowBooks">
    <span v-if="showBooks">Hide Books</span>
    <span v-if="!showBooks">Show Books</span>
  </button>

</div>
  




  <script src="app.js"></script>
</body>

</html>